.filter
    display: flex
    flex-direction: column

    input:focus
        outline: none

.range_filter_container
    border-bottom: 1px solid grey
    padding: 16px 0

.price_range_group
    display: flex
    margin: 0 auto

.input_wrapper
    position: relative
    max-width: 100vw
    input
        color: #ABABAD
        @include paragraph-text(16, 24)
        max-width: 85%
        border: 0
        border-right: 2px solid rgba(239, 239, 239, 0.549)
        border-right: 2px solid red
        position: relative

    .currency_symbol
        position: absolute
        right: 5px
        top: 50%
        transform: translateY(-50%)
        padding-right: 8px
        @include paragraph-text(14, 20)
        color: #ABABAD

.search_button
    width: 100%
    text-align: center
    color: white
    border-radius: 12px
    margin: 22px auto
    padding: 14px 0
    background-color: #1976D2
    cursor: pointer
    border: 0

    &:hover
        opacity: 0.8

.category_icon_wrapper
    position: relative
    display: flex !important
    align-items: center !important
    margin-right: 100px !important
    top: 100%

.icon
    margin-right: 100px

@media (min-width: 320px) and (max-width: 420px)
    .price_range_group, .search_button
        max-width: 288px

@media (min-width: 420px) and (max-width: 520px)
    .price_range_group, .search_button
        max-width: 360px

@media (min-width: 520px) and (max-width: 720px)
    .price_range_group, .search_button
        max-width: 460px
