.bestsellers_h4
    @include text-size-h4

.bestsellers
    margin: 12px auto 24px auto
    .bestseller
        display: flex
        justify-content: center
        flex-direction: column
        align-items: flex-start
        gap: 10px
        box-shadow: 0px 4px 24px 0px rgba(25, 118, 210, 0.1607843137)
        border-radius: 12px
        padding: 12px 0
        margin-bottom: 4px

        .product_overview
            margin: 0 auto
            display: flex
            align-items: center
            justify-content: flex-start

.img
    width: 80px
    height: auto
    object-fit: cover
    cursor: pointer

.details
    flex-grow: 1
    display: flex
    flex-direction: column

.row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin-bottom: 8px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    .store_svg
        max-width: 62px
        height: 8px

    .rate
        @include paragraph-text(12, 20)

    .product_title
        // flex-grow: 1
        font-weight: 400
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        max-width: 36%
        @include paragraph-text(14, 16)
        // max-width: calc(100% - 40px)

    .shop_title
        color: #B1B1B1
        font-weight: 400
        @include paragraph-text(12, 20)

    .price
        @include paragraph-text(14, 20)
        color: #191C1F
        font-weight: 600
        .quantity
            color: #B1B1B1
            @include paragraph-text(12, 20)
            font-weight: 400

.stars_left
    display: flex
    align-items: center
    gap: 8px

    .stars
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 2px
    svg
        width: 12.63px
        height: 12px

.stocks_wrapper
    display: flex
    justify-content: space-between
    .more_sizes
        @include paragraph-text(12, 15.6)
        font-weight: 500
        color: #B1B1B1
        cursor: pointer

.stocks
    display: flex
    gap: 4px
    margin: 0 auto

    span
        cursor: pointer
        border-radius: 4px
        padding: 4px 8px 4px 8px
        color: #1976D2
        background-color: #EEF1F8
        @include paragraph-text(11, 12)

@media (min-width: 320px) and (max-width: 420px)
    .product_overview
        max-width: 288px

@media (min-width: 420px) and (max-width: 520px)
    .product_overview
        max-width: 360px

@media (min-width: 520px) and (max-width: 720px)
    .product_overview
        max-width: 460px
