@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../assets/fonts/IBMPlexSans-Regular.ttf') format('ttf'),
        url('../../assets/fonts/IBMPlexSans-Regular.ttf') format(' ttf');
    font-weight: normal;
    font-style: normal;
}

.top-bar {
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 24px 0px #1976D229;
    margin-bottom: 24px;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.logo-container {
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    gap: 16px;
}

.login-btn,
.register-btn {
    border-radius: 12px;
    padding: 8px 16px 8px 16px;
    border: 0;
    font-family: IBMPlexSans;
    line-height: 20px;
    cursor: pointer;
}

.login-btn {
    background-color: #D1E4F6;
    color: #1976D2;
}

.register-btn {
    background-color: #75ADE4;
    color: #FFFFFF;
    font-family: IBMPlexSans;
}

.main-nav {
    margin-bottom: 24px;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-inline-start: 0;
}

.main-nav a {
    color: #191C1F;
    font-family: IBMPlexSans;
    text-decoration: none;
}

.main-nav-container-flex {
    display: flex;
}

.filters {
    display: flex;
    border: 2px solid #1976D2;
    border-radius: 8px;
    padding-left: 3px;
}

.filters-inputs {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.filters input {
    width: 100px;
    font-family: IBMPlexSans;
    font-size: 16px;
    color: #ABABAD;
    border: 0;
    padding: 19px 16px 19px 16px;
}

.filters input:nth-child(-n+7) {
    border-right: 2px solid rgba(239, 239, 239, 0.549);
}

.filters input:nth-child(8) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    z-index: 1;
}

.filters input:focus {
    outline: none;
}

.search-btn {
    position: relative;
    left: -11px;
    margin-right: -11px;
    cursor: pointer;
    color: white;
    padding: 10px 36px;
    background-color: #1976D2;
    border: none;
}

@media (max-width: 1175px) {
    .auth-buttons {
        position: fixed;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%); 
        width: auto; 
        box-shadow: 8px 12px 32px 0px #1976D252;
        justify-content: center;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.9);
        gap: 16px; 
    }

    .logo-container {
        display: none;
    }

    .top-bar-content {
        flex-direction: column;
        align-items: center;
    }

    .top-bar {
        width: 0;
        height: 0;
    }

    .all-brands a {
        margin-left: 18px;
        color: #1976D2;
        font-size: 14px;
        padding-left: 16px;
        background-color: #EDF4FC;
        padding: 8px 16px 8px 16px;
    }

    .other-brands {
        display: none;
    }

    .filters {
        border: 0px solid #1976D2;
        flex-direction: column;
        padding-left: 0;
    }

    .filters-inputs {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filters input {
        width: 100%;
        flex: 1 0 auto;
        margin: -1px;
    }

    .search-btn {
        border-radius: 12px;
        max-width: 97%;
        margin-left: 2.5%;
        margin-top: 22px;
    }

    .range-filter-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .filters input:nth-child(-n+4) {
        border-bottom: 2px solid rgba(239, 239, 239, 0.549);
        border-top: 2px solid rgba(239, 239, 239, 0.549);
    }
}

@media (max-width: 553px) {
    .search-btn {
        border-radius: 12px;
        max-width: 95%;
        margin-left: 5%;
    }
}