.footer
    border-top: 1px solid#D1E4F6
    padding: 37px 0 28.78px 0

    .footer_content
        margin: 0 auto
        display: flex
        justify-content: space-between

        .container1
            display: flex
            gap: 32px
            p
                color: #ABABAD

        .container2
            display: flex
            gap: 16px
            a
                color: #75ADE4

@media (min-width: 720px) and (max-width: 1000px)
    .footer_content
        max-width: 650px

@media (min-width: 1000px) and (max-width: 1280px)
    .footer_content
        max-width: 950px

@media (min-width: 1280px) and (max-width: 1920px)
    .footer_content
        max-width: 1184px

@media (min-width: 1920px)
    .footer_content
        max-width: 1504px
